/** ==============================
 * FONTS
 * =============================== */

@font-face {
    font-family: 'Alkatra';
    src: url('../../fonts/Alkatra-Regular.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    src: url('../../fonts/DMSans-VariableFont_opsz\,wght.ttf') format('woff2');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSans-italic';
    src: url('../../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('woff2');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

/** ==============================
 * VARIABLES
 * =============================== */

:root {
    /* Couleurs (palette réduite pour meilleure cohérence) */
    --primary-color: #1A202C;
    --secondary-color: #b417e4;
    --secondary-color-hover: rgb(151, 89, 170);
    --title-color: #EDF2F7;
    /* Etat hover explicite */
    --alt-color: #718096;

    /* Font */
    --primary-font: 'Alkatra', 'system-ui', sans-serif;
    --secondary-font: 'DMSans';

    /* Espacements (système cohérent) */
    /* 8px */
    --espace-xs: 0.5rem;
    /* 16px */
    --espace-s: 1rem;
    /* 24px */
    --espace-m: 1.5rem;
    /* 32px */
    --espace-l: 2rem;
    /* 48px */
    --espace-xl: 3rem;

    /* Transitions */
    --fast-transition: 0.2s ease-in-out;
    --strandart-transition: 0.3s ease;
    --slov-transition: 0.5s ease-in-out;

    /* Rayons de bordure */
    /* 4px */
    --radius-s: 0.25rem;
    /* 8px */
    --radius-m: 0.5rem;
    /* 32px (rounded buttons)*/
    --radius-l: 2rem;

    /* Z-index rationalized */
    --z-normal: 1;
    --z-overlay: 10;
    --z-modal: 100;

    /* Webkit sliders track fix */
    --track-height: 8px;
    --thumb-height: 12px;
    --thumb-width: 12px;
    --slider-value: 0%;

}

/** ==============================
 * MAIN STYLES
 * =============================== */

main {
    display: flex;
    justify-content: space-around;
    background: var(--primary-color);
    font-family: var(--secondary-font);
}

.music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    background: -webkit-linear-gradient(#eee, #b417e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    text-align: center;
}

.song-title-container {
    display: flex;
    background: -webkit-linear-gradient(#eee, #b417e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    text-align: center;
}

.title-display {
    margin: 0 5px;
    font-size: calc(0.5vw + 12px);
}

.song-timer {
    background: -webkit-linear-gradient(#eee, #b417e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.album-cover img {
    width: 300px;
    height: 300px;
    cursor: default;
}

.player-logic {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logic-button {
    cursor: pointer;
}

.logic-button:hover {
    transform: scale(1.06);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    color: var(--title-color);
    font-size: calc(0.75vw + 6px);
    background-color: #090b0f;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    margin-top: calc(-1.5vw + -20px);
    visibility: hidden;
}

.button-container:hover .tooltip {
    visibility: visible;
}

/** ==============================
 * PROGRESS-BAR
 * =============================== */

.progress-bar-container {
    display: flex;
    align-items: center;
    margin: 6px;
}

.counts-container {
    display: flex;
    justify-content: center;
    min-width: 50px;
    margin: 0 5px;
}

.progress-bar {
    width: 300px;
}

/** ==============================
 * VOLUME-BAR
 * =============================== */

.volume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.volume-bar-container {
    display: inline-block;
    position: absolute;
    margin-top: -160px;
    width: 20px;
    height: 150px;
    padding: 0;
    visibility: hidden;
    transition: visibility var(--fast-transition);
}

.volume-bar {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.volume-container:hover .volume-bar-container {
    visibility: visible;
}

/** ==============================
 * SLIDERS STYLES
 * =============================== */

input[type="range"] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: var(--primary-color);
    border-radius: 3px;
    height: 8px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right,
            var(--secondary-color) 0%,
            var(--secondary-color) var(--slider-value, 0%),
            var(--alt-color) var(--slider-value, 0%),
            var(--alt-color) 100%);
    height: 0.5rem;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: var(--secondary-color);
    border-radius: 50%;
    width: var(--thumb-width);
    height: var(--thumb-height);
    margin-top: calc((var(--track-height) / 2) - (var(--thumb-height) / 2));

}

input[type="range"]::-moz-range-track {
    background: var(--alt-color);
    height: 0.5rem;
    border-radius: 3px;
}

input[type="range"]::-moz-range-progress {
    background: var(--secondary-color);
    height: 0.5rem;
    border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    background: var(--secondary-color);
    border: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;
}

input[type="range"]:focus {
    outline: none;
}


/* TODO : Add touch support for volume button